@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/HelveticaNeue-Roman.woff2');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/HelveticaNeue-Bold.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Element Styles */
  h1 {
    @apply text-4xl lg:text-8xl font-bold mb-4 lg:mb-8;
  }

  h2 {
    @apply text-2xl lg:text-3xl font-bold uppercase mb-4 lg:mb-8;
  }

  h3 {
    @apply text-lg lg:text-2xl font-bold mb-4 lg:mb-8;
  }

  p {
    @apply text-base lg:text-lg mb-4 lg:mb-8;
  }

  ol,
  ol > li {
    @apply list-decimal list-inside text-base lg:text-lg;
  }

  ul,
  ul > li {
    @apply list-disc list-inside text-base lg:text-lg;
  }

  li {
    @apply my-2;
  }

  strong {
    @apply bg-yellow-400 pt-2 pb-1;
    white-space: break-spaces;
  }

  a {
    @apply border-b-2 border-yellow-400 font-bold transition-all;
    @apply hover:text-yellow-400;
  }

  fieldset {
    @apply my-16;
  }

  input {
    @apply border-b-2 border-yellow-400 rounded-none text-base lg:text-lg px-2 py-1 w-full;
  }

  textarea {
    @apply block border-2 border-foreground resize-none rounded-none text-base lg:text-lg px-2 pt-1 pb-3 w-full h-96 lg:h-44 relative;
    @apply disabled:border-green-500 disabled:text-foreground/50
  }
  
  /* Class Styles */
  .cta {
    @apply inline-block relative z-10 w-auto px-4 py-3 pb-2 text-center font-bold text-base lg:text-lg bg-yellow-400 text-gray-900 leading-none shadow-block transition-shadow;
    @apply hover:shadow-block-hover hover:text-gray-900;
    line-height: 1;
  }

  .cta:not(.hollow) {
    @apply border-none;
  }

  .cta.hollow {
    @apply border-4 border-yellow-400 bg-background transition-all;
    @apply hover:bg-yellow-400;
  }
}

/* 
**  Vue Transitions
*/
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-from,
.fade-enter-to {
  opacity: 1;
}

.fade-leave-active,
.fade-enter-active {
  transition: opacity 0.25s ease-in-out;
}